# Ignorez tous les logs (dossiers)
**/Logs
**/logs
# Ignorez tous les logs (fichiers)
**/*.log


# Ignorez tous les codes compilés python
**/*.pyc
**/*.pyw

# Ignorez tous les fichiers de paramètres
**/params.ini
**/params*.json
**/Proxy*.json

# Specifica File to not spoil search
OSINT_Handbook_2020.pdf